body {
    color: #fff;
    background: rgb(47, 79, 79);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: sans-serif;
}
/* div{
    border: 2px solid #000;
} */
.hdr {
    width: 100%;
}
.hdrTop {
    background: rgb(223, 7, 61);
    width: 100%;
    height: 30px;
    padding: 10px;
    display: inline-flex;
}
.searchbox {
    margin-left: 100px;
    width: 400px;
    text-align: right;
    background: rgb(128, 12, 56);
}
.hdrBtm {
    height: 30px;
    background: rgb(128, 12, 56);;
}
.greybox {
    background: rgb(47, 79, 79);
    width: 100px;
}
.bdy {
    margin-left: 0vw;
}
.bdyTop {
    background: url(./images/B&W_bg.jpg) no-repeat;
    background-size: 100% 100vh;
    background-position: left bottom;
    display: inline-block;
    width: 100%;
    padding: 20px;
    align-content: center;
}
.txt {
    width: 50vw;
    text-align: left;
    float: left;
    font-size: 2em;
}
.txtTitle {
    font-size: 2em;
}
.txtSubTitle {
    font-size: 1.5em;
}
.txtText {
    font-size: .75em;
}
.peak {
    float: left;
    margin-right: 0px;
    width: 30vw;
    height: 400px;
}
.img {
    width: 600px;
}
.bdyBtm {
    text-align: center;
    background: #fff;
    margin-top: -3%;
}
.box {
    display: inline-flex;
    padding: 10vh;
    border: 10px solid #fff;
    height: 100px;
    width: 19vw;
    margin-left: 2vh;
    margin-right: 2vh;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}
.box1 {
    background: #35D2B4;
}
.box2 {
    background: #1B2191;
}
.box3 {
    background: #D822EE;
}
.box4 {
    display: none;
    background: rgb(12, 159, 218);
}
.ftr {
    text-align: center;
    background: rgb(25, 44, 44)
}
.break {
    display: none;
}
.ftrLnkLft {
    display: inline-block;
    padding: 10vh;
}
.ftrLnkLftTitle {
    font-weight: bold;
}
.ftrLnkLftText {
    font-size: .75em;
    text-align: left;
}

@media screen and (max-width: 575px) {
    body {
        width: 100vh;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        overflow-x: hidden;
    }
    .bdy {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .searchbox {
        width: 90vw;
    }
    .txt {
        min-width: 100vw;
        max-width: 100vw;
        float: none;
        width: 100vw;
    }
    .txtText {
        min-width: 100vw;
        max-width: 100vw;
        max-height: 100px;
        overflow: hidden;
    }
    .peak {
        float: none;
        margin-bottom: -100px;
    }
    .bdyBtm {
        color: #fff;
        text-align: center;
        justify-content: center;
    }
    .box{
        height: 20px;
        overflow: hidden;
        border-radius: 500px;
        padding: 0px;
        display: flex;
        width: 65%;
        color: rgba(0,0,0,0)
    }
    .box1, .box2, .box3, .box4 {
        display: block;
        border-radius: 500px;
    }
    .ftr {
        display: block;
        text-align: center;
    }
    .break {
        display: block;
    }
    .ftrLnkLft {
        
        align-items: left;
    }
}
